<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars Info</a></p>
    </div>
    <div>
      <h2><u>Latest Mars News</u></h2>
        <h4>{{marsinfo.news_title}}</h4>
        <p>{{marsinfo.news_p}}
      <h2><u>Featured Image</u></h2>
      <!-- Featured Image-->
      <img src ='https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg' width = 400px>

      <h2><u>Mars Facts</u></h2>
      <table border="1" class="dataframe">  <tbody>   <tr>      <td>Equatorial Diameter:</td>    </tr>    <tr>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>    </tr>    <tr>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>    </tr>    <tr>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <td>Moons:</td>    </tr>    <tr>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>    </tr>    <tr>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>    </tr>    <tr>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>    </tr>    <tr>      <td>-87 to -5 °C</td>    </tr>    <tr>      <td>First Record:</td>    </tr>    <tr>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>    </tr>    <tr>      <td>Egyptian astronomers</td>    </tr>  </tbody>
      </table>
    </div>

    <!-- Featured Image-->
    <!--<img src={{marsinfo.featured_image_url}}> -->


  </div>

  <!--Bootstrap v.5 Beta-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>
